body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/***************Home Page Screen*******************************/
.title-headings {
  text-align: center;
  font-size: 2rem;
  color: rebeccapurple;
}

.text {
  font-size: 0.8rem;
  text-align: center;
  color: #eb423d;
}

.headings {
  text-transform: uppercase;
  font-size: 1rem;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

/*Home Page Product*/
.page-screen {
  border: rgb(161, 21, 108) solid;
  width: 80%;
  margin: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 0;
}

.price {
  color: blueviolet;
  font-size: 1rem;
}

.card-body {
  width: 30%;
}

.image-box {
  overflow: hidden;
  margin: auto;
  position: relative;
  object-fit: cover;
  transition: all 0.6s;
}

.card-images {
  width: 80%;
  transition: transform 0.6s;
}

.card-images:hover {
  transform: scale(1.4);
}

.add-to-cart {
  border: solid green;
  border-radius: 13px;
  background-color: green;
  color: aliceblue;
  width: 45%;
  position: absolute;
  top: 30px;
  left: 60px;
  opacity: 0;
  transition: opacity 0.6s;
}

.image-box:hover .add-to-cart {
  opacity: 1;
}

/*Home Page Category*/
.collections-row {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 0;
}

.collection-images {
  width: 100%;
}

/*HomePage Store Location*/
.location-row{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-start;
}

.location-images {
  max-width: 400px;
}

.location-box {
  max-width: 300px;
  border: blueviolet solid;
  text-align: center;
  width: 80%;
  margin-bottom: 20px;
}

/*Navigation Bar*/
nav {
  margin: 0;
}

nav ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: brown;
  flex-wrap: wrap;
  padding: 10px 0px;
  margin: 0;
}

nav a {
  color: aliceblue;
}

nav li {
  margin-left: 20px;
}
.sub-menu {
  display: none;
}
.menu {
  display: flex;
  justify-content: space-between;
}
.menu-icons {
  display: flex;
  justify-content: space-between;
}
.logo-nav img {
  background-color: blueviolet;
  width: 100%;
}

.logo-nav {
  width: 100px;
  min-height: 45px;
  object-fit: cover;
  margin: 0px;
}
/***************Product Screen*******************************/
.product-row {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: 1fr 300px;
  gap: 20px;
  padding: 0;
}

.product-description{
  grid-column: 1/-1;
  
}
.product-description h3{
  border: solid green;
  width: 120px;
  margin: 0;
  padding: 10px;
}
.product-description p{
  border-top: solid green;
  margin: 0;
}
.product-images img{
  width: 80%;
  object-fit: cover;
}

.add-to-cart-product{
  border: solid green;
  border-radius: 13px;
  background-color: green;
  width: 30%;
  text-align: center;
  padding: 0.5rem;
}

.add-to-cart-product a{
  color: aliceblue;
}